// Imports
@import "compass/reset"
@import "compass/css3/images"
@import "compass/css3/user-interface"
@import "susy"
@import "compass"


// Variables 
$total-columns        : 12
$column-width         : 9em
$gutter-width         : 1em
$grid-padding         : $gutter-width

// $universal-padding : 0.5em

$main-link-color      : #0066cc

// $main-dark-color   : black
// $main-light-color  : white
// $sub-dark-color    : #767676

$bg-color             : #f8cf79 
// $border-color      : #d9d9d9
// $light-border-color: rgba(white,.95)

// $icons             : sprite-map("icons/*.png", $layout: smart)
// $icons-hd          : sprite-map("icons-hd/*.png")
$default-border-radius: 5px



// Mixins
+border-box-sizing

// Icons
// i
//     background: $icons
//     display: inline-block
//     @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
//         background: $icons-hd
//         +background-size(image-width(sprite-path($icons)) auto)
// @each $icon in sprite_names($icons)
//     .icn-#{$icon}
//         +sprite-dimensions($icons, $icon)
//         background-position: sprite-position($icons, $icon)
//         @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
//             $offset: nth(sprite-position($icons-hd, $icon), 2) / 2
//             background-position: 0 $offset
    

// Custom fonts


// Grids
body 
    font-family: sans-serif
    -webkit-text-size-adjust: 100%
    background: $bg-color
.grid-container
    +container($total-columns)
    +pad(0,0)
    background-color: white
    max-width: 64em
    padding: 0 2.5em


// Text styles   
a 
    +link-colors($main-link-color, adjust-lightness($main-link-color, -15%))
    text-decoration: none
    border-bottom: solid 1px rgba(0,102,204,.2)
    &.no-border-link
        border: none
    &.action-link
        border-bottom-style: dashed


// Fix
%group, .group
    &:after
        content: ''
        display: table
        clear: both
.no-flick
    +translate3d(0,0,0)
.centered
    margin: 0 auto
    position: relative
.align-center
    text-align: center
.align-right
    text-align: right
.hide
    display: none !important

